{%extends "layout.html"%} {%block content%}
<div class="home">
  <h1>My homepage</h1>
  <p>This is a test website</p>

  <br/>

  <h1>Plot page</h1>

  <p><a href="/plot/">here</a></p>
</div>
{%endblock%}
