{%extends "layout.html"%} {%block content%}

<link rel="stylesheet" href="{{cdn_css | safe }}">
<script type="text/javascript" src="{{cdn_js | safe}}"></script>

<div class="about">
  <h1>My plot page</h1>
</div>
{{script1 | safe}}
{{div1 | safe}}
{%endblock%}
