<!DOCTYPE html>
<html lang="en">
  <title>Download</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Download</h1>

      <a href={{ url_for('download') }} target="blank">
      <button class="btn">Download</button></a>
    

    </div>

  </body>

</html>
